## Task 4: Data Analysis

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

#### Lily's portion

In [10]:
import project_functions_lily as pl
cleaned_df1 = pl.load_and_process_df1('../data/raw/global-fishery-catch-by-sector.csv')
cleaned_df1

,Unnamed: 0,Entity,Year,Artisanal (small-scale commercial),Discards,Industrial (large-scale commercial),Recreational,Subsistence
0,0,World,1950,7526795,5874170,14566338,268260,2677833
1,1,World,1951,8278304,6278225,15417937,284319,2704471
2,2,World,1952,8272109,7230311,16463942,293558,2728141
3,3,World,1953,8469284,7172937,17163789,292070,2753098
4,4,World,1954,9226926,8012930,18340199,304398,2895153
...,...,...,...,...,...,...,...,...
56,56,World,2006,21417851,9530758,78480816,790270,3792749
57,57,World,2007,21097388,9725492,78861788,804477,3623797
58,58,World,2008,21111836,9568906,76840638,826843,3629819
59,59,World,2009,21828623,9369530,75728150,805632,3630156
60,60,World,2010,21586606,9638888,73326274,808357,3627383

In [11]:
cleaned_df2 = pl.load_and_process_df1('../data/raw/global-fishery-catch-by-sector.csv')
cleaned_df2

,Unnamed: 0,Entity,Year,"Share of fish stocks within biologically sustainable levels (FAO, 2020)",Share of fish stocks that are overexploited
0,0,Eastern Central Atlantic,2015,57.142860,42.857140
1,1,Eastern Central Atlantic,2017,57.142857,42.857143
2,2,Eastern Central Pacific,2015,86.666670,13.333330
3,3,Eastern Central Pacific,2017,86.666667,13.333333
4,4,Eastern Indian Ocean,2015,73.076920,26.923080
5,5,Eastern Indian Ocean,2017,68.627451,31.372549
6,6,Mediterranean and Black Sea,2015,37.837840,62.162160
7,7,Mediterranean and Black Sea,2017,37.500000,62.500000
8,8,Northeast Central Atlantic,2015,73.469390,26.530610
9,9,Northeast Central Atlantic,2017,79.310345,20.689655
10,10,Northeast Pacific,2015,85.714290,14.285710
11,11,Northeast Pacific,2017,83.870968,16.129032
12,12,Northwest Central Atlantic,2015,73.913040,26.086960
13,13,Northwest Central Atlantic,2017,56.250000,43.750000
14,14,Northwest Pacific,2015,82.692310,17.307690
15,15,Northwest Pacific,2017,65.384615,34.615385
16,16,Southeast Central Atlantic,2015,67.647060,32.352940
17,17,Southeast Central Atlantic,2017,67.647059,32.352941
18,18,Southeast Pacific,2015,38.461540,61.538460
19,19,Southeast Pacific,2017,45.454545,54.545455
20,20,Southwest Atlantic,2015,41.176470,58.823530
21,21,Southwest Atlantic,2017,46.666667,53.333333
22,22,Southwest Pacific,2015,74.074070,25.925930
23,23,Southwest Pacific,2017,84.615385,15.384615
24,24,Western Central Atlantic,2015,60.344830,39.655170
25,25,Western Central Atlantic,2017,61.403509,38.596491
26,26,Western Central Pacific,2015,82.608700,17.391300
27,27,Western Central Pacific,2017,77.551020,22.448980
28,28,Western Indian Ocean,2015,66.666670,33.333330
29,29,Western Indian Ocean,2017,68.292683,31.707317
30,30,World,1974,90.000000,10.000000
31,31,World,1978,91.463415,8.536585
32,32,World,1979,86.982249,13.017751
33,33,World,1981,86.419753,13.580247
34,34,World,1983,83.333333,16.666667
35,35,World,1985,81.818182,18.181818
36,36,World,1987,75.675676,24.324324
37,37,World,1989,73.369565,26.630435
38,38,World,1990,81.868132,18.131868
39,39,World,1992,76.777251,23.222749
40,40,World,1995,74.324324,25.675676
41,41,World,1997,76.966292,23.033708
42,42,World,2000,72.790698,27.209302
43,43,World,2004,76.394850,23.605150
44,44,World,2006,72.371134,27.628866
45,45,World,2008,67.021277,32.978723
46,46,World,2009,69.553806,30.446194
47,47,World,2011,71.078431,28.921569
48,48,World,2013,68.000000,32.000000
49,49,World,2015,66.666667,33.333333
50,50,World,2017,65.849057,34.150943

My primary interest focuses around how the results of overfishing impact our wild fish stock over the next decade. Here we can see in the two different tables, first that over the past 10 years it varies depending on the location the overexploitation and the sustainable fish stock percentages. However, if we focus in on it being the world in general we can see the shift towards the share of fish that is being overexploited. Over the last 10 or so years the share of fish being overexploited grew around 2%. It is likely that if we are continuning at a similar projectory that in the next 10 years it will grow by another 2%. This is likely due to the ever growing demand for fish and the growing numbers in fish caught. When you look at first table it shows that the amount of fishing in all categories have dramatically grown from over the last 10 and 50 years. It is likely that it will continue growing from the current trend.In certain sectors of fishing(large scale) it has grown hundreds of thousands to millions. If we continue at this rate it is very likely that the amount of fish that are being overexploited will continue to grow.

#### Livia's portion

In [ ]:
import project_functions_livia as pl

# Export merged table
combined_df.to_csv('../data/processed/combined_livia.csv', index=False)

In [5]:
cleaned_dataset = pl.load_and_process("../data/processed/combined_livia.csv")
cleaned_dataset

# The result:

,Unnamed: 0,Entity,Year,Fish stocks within biologically sustainable levels,Overexploited fish stocks,Capture fisheries production,"Fish, Seafood- Food supply quantity",Industrial (large-scale commercial),Livestock and Fish Primary Equivalent - Freshwater Fish
0,0,Eastern Central Atlantic,2015,57.14286,42.85714,NaN,NaN,NaN,NaN
1,1,Eastern Central Pacific,2015,86.66667,13.33333,NaN,NaN,NaN,NaN
2,2,Eastern Indian Ocean,2015,73.07692,26.92308,NaN,NaN,NaN,NaN
3,3,Mediterranean and Black Sea,2015,37.83784,62.16216,NaN,NaN,NaN,NaN
4,4,Northeast Central Atlantic,2015,73.46939,26.53061,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
16719,16719,NaN,1955,NaN,NaN,NaN,NaN,18728089.0,NaN
16720,16720,NaN,1956,NaN,NaN,NaN,NaN,19902604.0,NaN
16721,16721,NaN,1957,NaN,NaN,NaN,NaN,20030089.0,NaN
16722,16722,NaN,1958,NaN,NaN,NaN,NaN,20520801.0,NaN
16723,16723,NaN,1959,NaN,NaN,NaN,NaN,23422702.0,NaN

My primary interest targets on whether industrial fishing will be able to meet the demands of fish stock from the increasing global population or experience a shortage of global fish stock caused by overfishing. Based on the dataset, we will focus on three different variables, 'Fish stocks within biologically sustainable levels', 'Overexploited fish stocks', and 'Industrial (large-scale commercial)'. As we look at the trends for fish being overexploited, we can see a dramatic increase fom over the last 50 years. It is likely that we will experience a shortage of global fish stock caused by overfishing and we won't be able to meet the demands of the global population.

#### Conclusion

In exploring the global production of marine fisheries and its effects on climate change through overexploitation of fish stocks within the past 50 years, some questions we had investigated are:
- How will commercial fishing be able to meet the demands of fish stock from the increasing global population? 
- How will the results of overfishing impact our wild fish stock over the next decade? 
- What contributions will aquaculture make in sustainable practices of fishing?  

As we look at the trends for fish being overexploited, we can see a dramatic increase fom over the last 50 years. It is likely that we will experience a shortage of global fish stock caused by overfishing and we won't be able to meet the demands of the global population. However, in the last 10 or so years the share of fish being overexploited grew around 2%. It is likely that if we are continuning at a similar projectory that in the next 10 years it will grow by another 2%. This is likely due to the ever growing demand for fish and the growing numbers in fish caught. If we continue at this rate it is very likely that the amount of fish that are being overexploited will continue to grow. Furthermore, the capture fisheries still remains large. We assumed that this change of sustainable production only happens recently by the awareness of the climate change, or perhaps it may caused by many fishery production has not made a proper transition to aquaculture, or even many fish stock avaliable is not viable for aquaculture.